# Dataset folder
coco/

# Experiment subfolders
experiment/'big_dataset'/
experiment/'trial'/
experiment/'trial2'/
experiment/'experiment2'/

# Python cache
__pycache__/
*.pyc

# Virtual env
venv/
myenv/
.env